exportPattern("^[[:alpha:]]+")
export(mind)
export(est_frac)
importFrom("utils", "install.packages")
importFrom("foreach", "%dopar%", "foreach")
importFrom("parallel", "makeCluster")
importFrom("nnls", "nnls")
importFrom("doParallel", "registerDoParallel")
  