exportPattern("^[[:alpha:]]+")
export(mind)
export(est_frac)
importFrom("utils", "install.packages", "str")
importFrom("foreach", "%dopar%", "foreach", "getDoParWorkers")
importFrom("parallel", "makeCluster", "detectCores", "stopCluster")
importFrom("nnls", "nnls")
importFrom("doParallel", "registerDoParallel")
importFrom("stats", "as.formula", "coef", "glm", "manova", "na.omit",
             "p.adjust", "sd", "var")
importFrom("MCMCglmm", "MCMCglmm")
importFrom("Matrix", "bdiag")
importFrom("edgeR", "cpm")
importFrom("matrixcalc", "is.positive.definite")
importFrom("BisqueRNA", "ReferenceBasedDecomposition")
importFrom("Biobase", "ExpressionSet")
importFrom("methods", "new")
